*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../img/19.jpg');
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 143%; /* Современные браузеры */;
    background-position: top;
    background-repeat: no-repeat;

}
h1 {
    color: 	#a83203;
}
.wrapper{
    position: absolute;
    width: 20%;
    left: 30%;
    top: 50px;
    margin-top: 10rem;
    margin-left: 15rem;
    padding: 25px;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 35px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.8);
    background-color: transparent;
    }
.big_text {
  position: relative;
  margin-left: 7rem;
  padding: 2rem;

}
.item-value{
    display: block;
    margin: 0 auto;
    height: 25px;
    width: 70%;
    boreder: 0px;
    border-radius: 5px;
    text-align: center;
    font: 16px Arial;
    font-style: italic;
    color: green;
    background: rgba(246, 237, 210, 1);
    outline: none;
}
.item-new-value{
    display: none;
}
.editing .item-new-value{
    display: block;
    width: 85%;
    height: 17px;
    padding: 6px;
    font: 16px Arial;
    font-style: italic;
    color: #554411;
    border: 0px;
    outline: none;
}
.editing .item-label{
    display: none;
}
.item-label{
    float: left;
    display: inline-table;
    height: 17px;
    padding: 6px;
    font: 16px Arial;
    font-style: italic;
    color: #293133;
    width: auto;
    cursor: text;
    outline: none;
}
.item-add{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 85px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid rgba(34, 85, 130, 1);
    font: 16px Arial;
    color: black;
    font-weight: bold;
    font-style: italic;
    background: #93AA00;
    cursor: pointer;
    outline: none;
}
.item-delete{
    display: inline-table;;
    float: right;
    text-align: center;
    border-left: 2px solid grey;
    margin-top: 0px;
    width: 29px;
    font: 14px Arial;
    color: #170F01;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
}
.todoitem{
    display: block;
    list-style-type: none;
    height: 28px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    margin: 5px;
    border-bottom: 2px solid grey;
    border-radius: 55px;
    box-shadow: 0 16px 30px -6px rgba(0,0,0,0.3);
}
.view label{
    float: left;
    display: block;
    height: 35px;
}
